.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#visualizer{
  height: 100%;
}


#visualizer{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 4px;
	box-sizing: border-box;
	background: radial-gradient(white 30%, blue);
}

	#controls{
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(dimgray, ghostwhite);
  }

	#bars{
		flex: 4;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		gap: 1px;
		background: black;
		padding-top: 4vh;
		padding-bottom: 4vh;
  }
		.bar{
			width: 4px;
			background: chartreuse;
    }
